.vim/.netrwhist
*.swp

.vim/bundle/mustache.vim/
.vim/bundle/nerdcommenter/
.vim/bundle/nerdtree/
.vim/bundle/supertab/
.vim/bundle/syntastic/
.vim/bundle/taglist.vim/
.vim/bundle/vim-easymotion/
.vim/bundle/vim-javascript/
.vim/bundle/vim-nerdtree-tabs/
.vim/bundle/vim-jsx-pretty/
.vim/bundle/vim-python-pep8-indent/
